:root {
  --first-logo-color: #4d5ae5;
  --two-logo-color: #f4f4fd;
  --black-color: #2e2f42;
  --par-text: #434455;
  --footer-text: #e7e9fc;
  --background: #2e2f42;
  --background-buttom: #f4f4fd;
  --main-text: #434455;
  --press-button: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
.section {
  margin-top: 120px;
  margin-bottom: 120px;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.header-page {
  display: flex;
  width: 1440px;
  height: 72px;
}
.header-nav {
  display: flex;
  flex-direction: row;
}
.first-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 156px;
  margin-right: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-logo-color);
}
.two-logo {
  color: var(--background);
}
.menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.menu-item-list {
}
.menu-item-link {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.menu-item-link:hover,
.menu-item-link:focus,
.adr-link:hover,
.adr-link:focus {
  color: #404bbf;
}
.adress-page {
  display: flex;
  font-style: normal;
  line-height: 1.5;
  margin-left: auto;
  margin-right: 156px;
}
.address-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
}
.adress-item {
}
.adr-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
}
.hero-page {
  background: #2e2f42;
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;
  padding-left: 495px;
  background: #2e2f42;
}
.hero-item {
  width: 496px;
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  position: absolute;
  height: 56px;
  left: 636px;
  top: 428px;

  color: #ffffff;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
.organizer-plan {
  margin-top: 120px;
  margin-bottom: 120px;
}
.text-invisible {
  display: none;
}
.organizer-plan .organizer-plan-items {
  display: flex;
  gap: 24px;
}
.organizer-plan .organizer-plan-list {
  width: calc((100% - 72px) / 4);
}

.organizer-plan-items {
  margin-left: 156px;
  margin-right: 156px;
}
.organizer-plan-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  gap: 24px;
  width: 264px;
}
.par-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text);
}
/* Mockup */
.mockup {
  margin-left: 156px;
  margin-right: 156px;
}
.mockups {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
/* .Mocup */
/* Teamwork */
.team-works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin-top: 72px;
}
.team-work {
  background: #f4f4fd;
}
.mockup-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--black-color);
}

.team-work-list {
  border-radius: 0px 0px 4px 4px;
}
.team-work .team-works {
  display: flex;
  gap: 24px;
  text-align: center;
  justify-content: center;
}
.team-work .team-work-list {
  padding-bottom: 32px;
  margin-bottom: 120px;
  background-color: #ffffff;
}
.team-work .team-work-list img {
  margin-bottom: 32px;
}
.organizer-title,
.resume-title,
.team-work-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
/* /Teamwork */
/* Portfolio */
.buttom-page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #4d5ae5;
}
.buttom-page:hover,
.buttom-page:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.section-resume {
}
.resume-list {
}
.par-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* /Portfolio */
/* Footer */
.footer-page {
  background: var(--black-color);
  padding-top: 100px;
  padding-bottom: 100px;

}
.whitecolor {
  color: var(--two-logo-color);
}
.footer-text {
  color: #e7e9fc;
  width: 264px;
margin-left: 156px;

}
.footer-page .first-logo{
  display: block;
  margin-bottom: 16px;
}
/* /Footer */
